a.index-nav {
    width: 50px;
    height: 30px;
    color: aliceblue;
    background-color: #ff7b00;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.index-nav:hover {
    width: 60px;
    height: 40px;
    color: aliceblue;
    background-color: #ff3700;
    line-height: 40px;
    text-align: center;
    text-decoration: dashed;
    cursor: pointer;
}

a.learn-nav {
    width: 130px;
    height: 30px;
    color: aliceblue;
    background-color: #4262ff;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.learn-nav:hover {
    width: 150px;
    height: 40px;
    color: aliceblue;
    background-color: #9500ff;
    line-height: 40px;
    text-align: center;
    text-decoration: dashed;
    cursor: pointer;
}